/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

html, body {
  margin: 0;
}

html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1, h2 {
  font-size: 2rem;
  letter-spacing: -1px;
  /* position: absolute; */
	/* color: #fff; */
	/* left: 25%;
	right: 25%;
	width: 50%; */
	text-align: center;
}

#loadTime {
	bottom: 0;
}

.code {
	background-color: #ccc;
}